
.announce {
    max-width: 1500px;
    margin: 0 auto;
    padding-inline: 1rem;
    padding-top: 2rem;
    background: rgb(39,25,42);
    background: linear-gradient(27deg, rgba(39,25,42,1) 0%, rgba(39,36,39,1) 43%, rgba(125,126,116,1) 100%);
    background-size: cover;
    height: 70vh;
}
.announce-text {
    padding-top: 10rem;
    background: none;
    /* color: #fff; */
}

.announce-content h4 {
    color: #fff;
    text-align: center;
}
.announce-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: transparent;
}
.announce-content h4 {
    font-size: 2rem;
    padding-inline: .5rem;
    background-color: transparent;
}


 /* footer section */
 .footer {
    height: auto;
    padding-block: 4rem;
    padding-inline: 1rem;
    max-width: 1500px;
    margin: 0 auto;
    background-color: #ec6d18;
    color: #111;
}
.footer-title {
    background: transparent;
    max-width: 300px;
}
.footer-content img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
}
.footer-title h4 {
    font-size: 1.5rem;
    background: transparent;
}
.footer-content {
    max-width: 1200px;
    margin: auto;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: transparent;
    flex-wrap: wrap;

}
.card, .card-link {
    max-width: 300px;
    background-color: transparent;
}
.card p {
    background-color: transparent;
}
.card-link {
    background: transparent;
    display: grid;
    place-content: center;
    text-align: start;
}

.footer hr {
    margin-top: 2rem;
    background-color: transparent;
    border: 1px solid black;
}
.last-text {
    padding-top: 2rem;
    text-align: center;
    font-size: 1.2rem;
    background-color: transparent;
    font-weight: bold;
}

.card-link a {
    text-decoration: none;
    background-color: transparent;
    transition: .3s;
}
.card-link a:hover {
    border-bottom: 1px solid #111;
    transform: scale(1.1);
}
.card-link h4 {
    background-color: transparent;
    font-size: 1.3rem;
}



/* announce section */
.announce-announce, .update-title{
    padding-block: 2rem;
    text-align: center;
}

.announce-title h4, .update-title h4{
    padding-block: 2rem;
    font-size: 2rem;
}