
.events {
    max-width: 1500px;
    margin: 0 auto;
    padding-inline: 1rem;
    padding-top: 2rem;
    background: rgb(39,25,42);
    background: linear-gradient(27deg, rgba(39,25,42,1) 0%, rgba(39,36,39,1) 43%, rgba(125,126,116,1) 100%);
    background-size: cover;
    height: 70vh;
}
.event-text {
    padding-top: 10rem;
    background: none;
    /* color: #fff; */
}

.event-content h4 {
    color: #fff;
    text-align: center;
}
.event-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: transparent;
}
.event-content h4 {
    font-size: 2rem;
    padding-inline: .5rem;
    background-color: transparent;
}

/* event card */
.event-cards, .program-card {
    max-width: 1500px;
    margin: 0 auto;
    min-height: 70vh;
    padding: 2rem 1rem;
    text-align: center;
}
.title-event {
    padding-block: 1rem;
    text-align: center;
}
.title-event h4 {
    font-size: 2rem;
}
 /* .event-card-content, .program-card-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 5rem;
    background-color: transparent;
}
.event-text-card {
    max-width: 60%;
    text-align: start;
    background-color: transparent;
    padding-inline: 1rem;
}
.image-card {
    min-width: 50%;
    border-radius: 10px;
    text-align: center;
}
.image-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.image-card h4{
    background-color: transparent;
    padding-top: 5rem;
    font-size: 2rem;
}
.event-card-content-reverse, .program-card-content-reverse{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    max-width: 900px;
    margin: 0 auto;
    padding-block: 3rem;
    background-color: transparent;
   
}
.event-card-content-reverse .event-text-card, .program-card-content-reverse .event-text-card {
    text-align: right;
} 

@media(max-width:900px) {
    .event-card-content, .program-card-content{
        display: grid;
        place-content: center;
        padding-inline: 1rem;
        padding-top: 1rem;
    }
    .event-text-card {
        max-width: 100%;
        text-align: center;
    }
    .event-card-content-reverse, .program-card-content-reverse {
        display: grid;
        place-content: center;
        padding-inline: 1rem;
        padding-top: 1rem;
    }
}  */



 /* footer section */
 .footer {
    height: auto;
    padding-block: 4rem;
    padding-inline: 1rem;
    max-width: 1500px;
    margin: 0 auto;
    background-color: #ec6d18;
    color: #111;
}
.footer-title {
    background: transparent;
    max-width: 300px;
}
.footer-content img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
}
.footer-title h4 {
    font-size: 1.5rem;
    background: transparent;
}
.footer-content {
    max-width: 1200px;
    margin: auto;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: transparent;
    flex-wrap: wrap;

}
.card, .card-link {
    max-width: 300px;
    background-color: transparent;
}
.card p {
    background-color: transparent;
}
.card-link {
    background: transparent;
    display: grid;
    place-content: center;
    text-align: start;
}

.footer hr {
    margin-top: 2rem;
    background-color: transparent;
    color:#111;
}
.last-text {
    padding-top: 2rem;
    text-align: center;
    font-size: 1.2rem;
    background-color: transparent;
    font-weight: bold;
}

.card-link a {
    text-decoration: none;
    background-color: transparent;
    transition: .3s;
}
.card-link a:hover {
    border-bottom: 1px solid #111;
    transform: scale(1.1);
}
.card-link h4 {
    background-color: transparent;
    font-size: 1.3rem;
}

