.button {
        padding: .6rem 1.5rem;
        border-radius: 5px;
        font-size: 1.2rem;
        border: none;
        cursor: pointer;
        background-color: #ED7D31;
        color: #fff;
        text-decoration: none;
}
  
.homepage {
    max-width: 1500px;
    margin: 0 auto;
    padding-inline: 1rem;
    padding-top: 2rem;
    background: rgb(39,25,42);
    background: linear-gradient(27deg, rgba(39,25,42,1) 0%, rgba(39,36,39,1) 43%, rgba(125,126,116,1) 100%);
    background-size: cover;
    height: 70vh;
}
.home-text {
    padding-top: 10rem;
    background: none;
}
.home-logo, .home-content, .home-content h4, .home-logo img{
    background: none;
}
.home-text {
    color: #fff;
}
.home-content h4 {
    color: #fff;
    text-align: center;
}
.home-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.home-content h4 {
    font-size: 2rem;
    padding-inline: .5rem;
}


/* team style context */
.team {
    height: auto;
    padding-block: 2rem;
    width: auto;
}
.team-title{
    padding-block: 2rem;
    max-width: 1050px;
    margin: 0 auto;
    text-align: center;
    color: #111;
}
.team-title h1 {
    font-size: 2rem;
}
.team-content .card-team img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.team-content {
    max-width: 1050px;
    margin: 0 auto;
    padding-block: 2rem;
    display: grid;
    place-content: center;
    gap: 2rem;
    padding-inline: 1rem;
}
.card-team {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.card-text {
    max-width: 50%;
}

/* profile section */
.profile {
    max-width: 1500px;
    margin: 0 auto;
    padding-inline: 1rem;
    padding-block: 2rem;
    padding-top: 4rem;
    background-color: #e9e9e9;
}
.prof-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    /* flex-wrap: wrap; */
    max-width: 1000px;
    margin: 0 auto;
    padding-block: 2rem;
    background-color: transparent;
}
.prof-content, .left-content, .right-content p, .right-content h1{
    background-color: transparent;
}
.left-content {
    display: flex;
    justify-content: end;
    align-items: end;
}
.left-content img {
    width: 70%;
    height: auto;
    border-radius: 50%;
}
.right-content {
    max-width: 50%;
    text-align: left;
    background-color: transparent;
}
.right-content h1 {
    font-size: 2rem;
    padding-bottom: 1rem;
}

 /* attachment section */

.attach {
    height: 70vh;
    padding-block: 1rem;
    padding-inline: 1rem;
    max-width: 1500px;
    margin: 0 auto;
    margin-top: 3rem;
}
.attach-title {
    padding-block: 1rem;
    text-align: center;
}
.attach-title h4 {
    font-size: 2rem;
}
.attach-content {
    text-align: center;
    padding-top: 8rem;
}
.attach-content  {
    font-size: 1.5rem;
 }

 /* footer section */
.footer {
    height: auto;
    padding-block: 4rem;
    padding-inline: 1rem;
    max-width: 1500px;
    margin: 0 auto;
    background-color: #ec6d18;
    color: #111;
}
.footer-title {
    background: transparent;
    max-width: 300px;
}
.footer-content img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
}
.footer-title h4 {
    font-size: 1.5rem;
    background: transparent;
}
.footer-content {
    max-width: 1200px;
    margin: auto;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: transparent;
    flex-wrap: wrap;

}
.card, .card-link {
    max-width: 300px;
    background-color: transparent;
}
.card p {
    background-color: transparent;
}
.card-link {
    background: transparent;
    display: grid;
    place-content: center;
    text-align: start;
}

.footer hr {
    margin-top: 2rem;
    background-color: transparent;
    color:#111;
}
.last-text {
    padding-top: 2rem;
    text-align: center;
    font-size: 1.2rem;
    background-color: transparent;
    font-weight: bold;
}

.card-link a {
    text-decoration: none;
    background-color: transparent;
    transition: .3s;
}
.card-link a:hover {
    border-bottom: 1px solid #111;
    transform: scale(1.1);
}
.card-link h4 {
    background-color: transparent;
    font-size: 1.3rem;
}



@media(max-width:900px){
    .card-team {
        display: grid;
        place-content: center;
    }
    
    .card-text {
        max-width: 100%;
        text-align: center;
    }
    .team-content {
        padding-top: 3rem;
    }
    .reverse{
        display: flex;
        flex-direction: column-reverse;
    }

}

@media(max-width:730px){
    .prof-content {
        display: grid;
        place-content: center;
        gap: 2rem;
    }
    .left-content img {
        width: 50%;
        height: 50%;
    }
    .right-content {
        text-align: center;
        max-width: 100%;
    }
    .left-content {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


@media(max-width:400px){
    .home-content h4 {
        font-size: 1.5rem;
    }
     
    .card-text{
        text-align: start;
    }
    
}