.services {
    max-width: 1500px;
    margin: 0 auto;
    height: auto;
}
.services-home {
    height: 60vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/pddrmo_cover.png) no-repeat center center;
    background-size: cover;
}
.services-home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 11rem;
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
    background-color: transparent;
}
.services-home-content h4 {
    font-size: 2.5rem;
    background-color: transparent;
    color: #fff;
}


/* content */

.research {
    max-width: 1300px;
    margin: 0 auto;
    height: 50vh;
    padding-block: 2rem;
}
.research-title h4 {
    padding-block: 1.5rem;
    font-size: 1.7rem;
    text-align: center;
}
.research-content {
    text-align: center;
    padding-top: 4rem;
}



 /* footer section */
 .footer {
    height: auto;
    padding-block: 4rem;
    padding-inline: 1rem;
    max-width: 1500px;
    margin: 0 auto;
    background-color: #ec6d18;
    color: #111;
}
.footer-title {
    background: transparent;
    max-width: 300px;
}
.footer-content img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
}
.footer-title h4 {
    font-size: 1.5rem;
    background: transparent;
    color: #111;
}
.footer-content {
    max-width: 1200px;
    margin: auto;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: transparent;
    flex-wrap: wrap;

}
.card, .card-link {
    max-width: 300px;
    background-color: transparent;
}
.card p {
    background-color: transparent;
    color: #111;
}
.card-link {
    background: transparent;
    display: grid;
    place-content: center;
    text-align: center;
}

.footer hr {
    margin-top: 2rem;
    background-color: transparent;
    color:#111;
}
.last-text {
    padding-top: 2rem;
    text-align: center;
    font-size: 1rem;
    background-color: transparent;
    color: #111;
}
