 
  .weather {
    max-width: 1500px;
    margin: 0 auto;
    padding-inline: 1rem;
    padding-top: 2rem;
    background: rgb(39,25,42);
    background: linear-gradient(27deg, rgba(39,25,42,1) 0%, rgba(39,36,39,1) 43%, rgba(125,126,116,1) 100%);
    background-size: cover;
    height: 70vh;
}
.weather-text {
    padding-top: 10rem;
    background: none;
}
 .weather-content, .weather-content h4{
    background: none;
}
.weather-text {
    color: #fff;
}
.weather-content h4 {
    color: #fff;
    text-align: center;
}
.weather-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.weather-content h4 {
    font-size: 2rem;
    padding-inline: .5rem;
}
